<nav> 
    <a href="#" onclick="toggleVisibility('characters')">Personajes</a>
    <a href="#" onclick="toggleVisibility('comics')">Comics</a>
</nav>

    <div id="character-container">
    {% for item in data.characters.response.data.results %}
        <div>
            <img src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}">
            <h3>{{ item.name }}</h3>
            <p>Descripción: {{ item.description }}</p>
            {% if item.id in data.characters.favorites|keys == false %}
                <button onclick="addToFavorites({{ item.id }}, '{{ data.characters.favorites.endpoint }}')">Añadir a favoritos</button>
            {% else %}
                <button onclick="removeFromFavorites({{ item.id }}, '{{ data.characters.favorites.endpoint }}')">Borrar de favoritos</button>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <div id="comic-container" class="hide-content">
    {% for item in data.comics.response.data.results %}
        <div>
            <img src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}">
            <h3>{{ item.title }}</h3>
            <p>Descripción: {{ item.description }}</p>
            <p>Número de páginas: {{ item.pageCount }}</p>
            {% if item.id in data.comics.favorites|keys == false %}
                <button onclick="addToFavorites({{ item.id }}, '{{ data.comics.favorites.endpoint }}')">Añadir a favoritos</button>
            {% else %}
                <button onclick="removeFromFavorites({{ item.id }}, '{{ data.comics.favorites.endpoint }}')">Borrar de favoritos</button>
            {% endif %}
        </div>
    {% endfor %}    
    </div>

{{ attach_library('marvel/marvel') }}
