<nav> 
    <a href="https://prueba-drupal-marvel.ddev.site/marvel/characters">Personajes</a>
    <a href="https://prueba-drupal-marvel.ddev.site/marvel/comics">Comics</a>
</nav>
 
{% if data.category == 'characters' %}
    {% for item in data.response.data.results %}
        <div>
            <img src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}">
            <h3>{{ item.name }}</h3>
            <p>Descripción: {{ item.description }}</p>
            {% if item.id in data.favorites|keys == false %}
                <button>Añadir a favoritos</button>
            {% else %}
                <button>Borrar de favoritos</button>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    {% for item in data.response.data.results %}
        <div>
            <img src"{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}">
            <h3>{{ item.name }}</h3>
            <p>Descripción: {{ item.description }}</p>
            <p>Número de páginas: {{ item.pageCount }}</p>
        </div>
    {% endfor %}    
{% endif %}


